@charset "UTF-8";
 body {
     background-color: #f7dbab;
     margin: 0 10%
     font-family: Open Sans, sans-serif;
     }
a {
  text-decoration: none;
}
a:link {
  color: #ff85e0;
}
a:visited {
  color: #42213a;
}
a:focus, a:hover {
  color: #eb31bc;
  background-color: #fff;
}
a:active {
  color: #f0f;
  background-color: #fff;
}
   h1 {
     text-align: center;
     font=family: "Marko One", Georgia, serif;
     font-weigt: normal;
     text-transform: uppercase;
     border-bottom: 1px solid #57b1dc;
     margin-top: 30px;
    }
  h2 {
    color: #d1633c;
    font-size: 1em;
  }  
  footer {
    border-top: 1px solid #57b1dc;
    text-align: center;
    padding-top: 1em;
   }
   footer img {
     width: 40px;
     height: 40px;
     margin-left: .5em;
     margin-right: .5em;
    } 